!.config/
/*

# Include Files
!.config/autorandr/postswitch
!.config/autorandr/preswitch
!.config/nvim/init.vim
!.config/picom/picom.conf
!.config/scripts/checkupdates.sh
!.config/rofi/config.rasi
!.config/rofi/themes/applauncher.rasi
!.config/rofi/themes/colors.rasi
!.config/rofi/themes/powermenu.rasi
!.Xresources
!.bashrc
!.gitignore
!.xbindkeysrc
!.zshrc
!README.md

# Include Folders
!.config/alacritty/
!.config/dunst/
!.config/firefox/
!.config/fish/
!.config/qtile/
!.config/rofi/scripts/

# Ignore Folders
.config/qtile/__pycache__/*
