[submodule ".local/share/dwm"]
	path = .local/share/dwm
	url = https://github.com/stonefeld/dwm
[submodule ".local/share/st"]
	path = .local/share/st
	url = https://github.com/stonefeld/st
[submodule ".local/share/dmenu"]
	path = .local/share/dmenu
	url = https://github.com/stonefeld/dmenu
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/stonefeld/nvim
