/*

# Files
!.gitignore
!.config/autorandr/postswitch
!.config/nvim/init.vim
!.config/picom/picom.conf
!.config/qtile/autostart.sh
!.config/qtile/config.py
!.config/scripts/checkupdates.sh
!.config/xmenu/run.sh
!.bashrc
!.xbindkeysrc
!.Xresources
!.zshrc

# Folders
!.config/alacritty/
!.config/dunst/
!.config/firefox/
!.config/fish/
!.config/qtile/icons/
!.config/rofi/
