#Include Files from root
/*
!.Xresources
!.bashrc
!.gitignore
!.xbindkeysrc
!.zshrc
!README.md

# Include Folders from .config
!.config/
.config/*
!.config/alacritty/
!.config/dunst/
!.config/firefox/
!.config/fish/
!.config/qtile/
!.config/rofi/scripts/

# Include Files from .config
!.config/autorandr/
.config/autorandr/*
!.config/autorandr/postswitch
!.config/autorandr/preswitch

!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim

!.config/picom/
.config/picom/*
!.config/picom/picom.conf

!.config/scripts/
.config/scripts/*
!.config/scripts/checkupdates.sh

!.config/rofi/
.config/rofi/*
!.config/rofi/config.rasi

!.config/rofi/themes/
.config/rofi/themes/*
!.config/rofi/themes/applauncher.rasi
!.config/rofi/themes/colors.rasi
!.config/rofi/themes/powermenu.rasi

# Ignore Folders from .config
.config/qtile/__pycache__/
