* {
	background:     @stdblack1;
	background-nor: @stdblack2;
	background-sel: @cyan;
	foreground:     @white;
	foreground-sel: @stdblack1;

	stdblack1: #181818ff;
    stdblack2: #282828ff;
	black:     #282828ff;
	red:       #cc241dff;
	green:     #98971aff;
	yellow:    #d79921ff;
	blue:      #458588ff;
	magenta:   #b16286ff;
	cyan:      #689d6aff;
	white:     #a89984ff;
}

// vim: ft=rasi
