:root {
  --show-tab-close-button: none;
  --show-tab-close-button-hover: -moz-inline-box;
  --active-tab-width: clamp(100px, 20vw, 300px);
  --inactive-tab-width: clamp(50px, 15vw, 200px);
  --urlbar-width: clamp(200px, 40vw, 700px);
}

#star-button { display: none !important; }
#urlbar-zoom-button { display: none !important; }
#reader-mode-button { display: none !important; }
#identity-permission-box { display: none !important; }
#page-action-buttons { display: none !important; }
#urlbar-go-button { display: none !important; }

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0 !important;
}

.tabbrowser-tab:not([pinned]) .tab-close-button { display: var(--show-tab-close-button) !important; }
.tabbrowser-tab:not([pinned]):hover .tab-close-button { display: var(--show-tab-close-button-hover) !important; }

.tabbrowser-tab[selected][fadein]:not([pinned]) { max-width: var(--active-tab-width) !important; }
.tabbrowser-tab[fadein]:not([selected]):not([pinned]) { max-width: var(--inactive-tab-width) !important; }

#nav-bar {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

#navigator-toolbox {
  padding: 5px;
  border-bottom: none !important;
}

#urlbar, #urlbar * { outline: none !important; }
#urlbar:not([open]) > #urlbar-background { background: var(--toolbar-bgcolor) !important; }

@media(min-width: 1500px) {
  #TabsToolbar { margin-left: var(--urlbar-width) !important; }
  #nav-bar { margin: calc((var(--urlbar-min-height) * -1) - 10px) calc(100vw - var(--urlbar-width)) 0 0 !important; }
}
